i {opacity: 0.3; font-style: inherit}
[title]:hover { 
    position: relative
}
.datatable span:hover {  border-bottom: #666 1px dashed  }
.datatable a:hover, .datatable a:hover * { 
    border-bottom: 1px solid !important
}
.datatable span { cursor: default }

[title]::after {
  content: attr(title);
  display: none;
  background-color: #fff;
  box-shadow: 0 1px 2px #0008;
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 2px 10px 1px;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: -30px;
  font-weight: normal;
  white-space: pre;
}

.datatable span b { color: #060 }
[title]:hover:after {
  display: block;
}
table { margin: 0 }
a > b { font-weight: normal; color: #3f3f3f }
.datatable a {font-weight: bold}
a:hover { color: #2a7ae2; }
.datatable a:hover { text-decoration: none }
.datatable a:hover b { text-decoration: none; color: inherit; }
td, th, .post-content li { white-space: nowrap; color: #3f3f3f }

.post-content { font-size: 72% }

@media only screen and (max-width: 679px) {
    td, th, .post-content li { padding: 0.5ch 1.5ch !important }
}
@media only screen and (min-width: 680px) {
    td, th, .post-content li { padding: 1ch 1.3ch !important }
}

tr th:first-child { text-align: right !important }
th { font-weight: normal }
table { width: auto }
.dt { width: 100%; overflow-x: auto; padding-top: 4ch }

ul { margin: 0 1px 1px 0; }
.post-content li { display: inline-block; margin: 0 -1px -1px 0; border: 1px solid #e8e8e8; }

.post-content li:nth-child(odd),
table tr:nth-child(even) { background-color: #eef4ee; }

table tr:nth-child(even) th { background-color: #e2eae2; }
table tr:nth-child(even) td, table tr:nth-child(even) th { border-bottom: solid 1px #ccd4cc; }